<RoutesList>
	<Routes>
		<RouteData>
			<Crossroads>
				<CrossroadData>
					<Direction>West</Direction>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>1</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>4</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>5</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>6</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>7</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Direction>East</Direction>
				</CrossroadData>
			</Crossroads>
			<Rate>100</Rate>
      <Id>1</Id>
		</RouteData>
    <RouteData>
			<Crossroads>
				<CrossroadData>
					<Direction>North</Direction>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>1</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>2</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>3</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>7</Crossroad>
				</CrossroadData>
			</Crossroads>
			<Rate>50</Rate>
      <Id>2</Id>
		</RouteData>
	</Routes>
</RoutesList>