<RoutesList>
	<Routes>
		<RouteData>
			<Crossroads>
				<CrossroadData>
					<Direction>West</Direction>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>1</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>4</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>5</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>6</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>7</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Direction>East</Direction>
				</CrossroadData>
			</Crossroads>
			<Rate>100</Rate>
      <Id>1</Id>
		</RouteData>
    <RouteData>
			<Crossroads>
				<CrossroadData>
					<Direction>North</Direction>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>1</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>2</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>3</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>7</Crossroad>
				</CrossroadData>
			</Crossroads>
			<Rate>50</Rate>
      <Id>2</Id>
		</RouteData>
    <RouteData>
			<Crossroads>
				<CrossroadData>
					<Direction>North</Direction>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>1</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>4</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>10</Crossroad>
				</CrossroadData>
			</Crossroads>
			<Rate>200</Rate>
      <Id>3</Id>
		</RouteData>
    <RouteData>
			<Crossroads>
				<CrossroadData>
					<Direction>North</Direction>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>2</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>6</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>9</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>12</Crossroad>
				</CrossroadData>
			</Crossroads>
			<Rate>200</Rate>
      <Id>4</Id>
		</RouteData>
  <RouteData>
			<Crossroads>
				<CrossroadData>
					<Direction>East</Direction>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>3</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>7</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Direction>East</Direction>
				</CrossroadData>
			</Crossroads>
			<Rate>200</Rate>
      <Id>5</Id>
		</RouteData>
  <RouteData>
			<Crossroads>
				<CrossroadData>
					<Direction>West</Direction>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>1</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>2</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>3</Crossroad>
				</CrossroadData>
			</Crossroads>
			<Rate>200</Rate>
      <Id>6</Id>
		</RouteData>
  <RouteData>
			<Crossroads>
				<CrossroadData>
					<Direction>West</Direction>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>4</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>5</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>6</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>7</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Direction>East</Direction>
				</CrossroadData>
			</Crossroads>
			<Rate>200</Rate>
      <Id>7</Id>
		</RouteData>
  <RouteData>
			<Crossroads>
				<CrossroadData>
					<Direction>West</Direction>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>10</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>11</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>12</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Direction>East</Direction>
				</CrossroadData>
			</Crossroads>
			<Rate>200</Rate>
      <Id>8</Id>
		</RouteData>
    <RouteData>
			<Crossroads>
				<CrossroadData>
					<Crossroad>12</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>9</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>8</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>5</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>4</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Direction>West</Direction>
				</CrossroadData>
			</Crossroads>
			<Rate>100</Rate>
      <Id>9</Id>
		</RouteData>
    <RouteData>
			<Crossroads>
				<CrossroadData>
					<Crossroad>11</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>8</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>5</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>6</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>2</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Direction>North</Direction>
				</CrossroadData>
			</Crossroads>
			<Rate>100</Rate>
      <Id>10</Id>
		</RouteData>
    <RouteData>
			<Crossroads>
        <CrossroadData>
					<Direction>West</Direction>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>10</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>4</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>5</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>6</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>9</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>8</Crossroad>
				</CrossroadData>
			</Crossroads>
			<Rate>50</Rate>
      <Id>11</Id>
		</RouteData>
    <RouteData>
			<Crossroads>
				<CrossroadData>
					<Crossroad>1</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>2</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>6</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>5</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>4</Crossroad>
				</CrossroadData>
				<CrossroadData>
					<Crossroad>10</Crossroad>
				</CrossroadData>
        <CrossroadData>
					<Crossroad>11</Crossroad>
				</CrossroadData>
			</Crossroads>
			<Rate>50</Rate>
      <Id>12</Id>
		</RouteData>
	</Routes>
</RoutesList>